.sidebar .widget {
    font-size: 82%;
}
.widget-area .widget + .widget {
    margin-top: 25px;
}
.sc-table td {
    padding: 10px !important;
    font-size: 16px;
    width: 33.3%;
}
.site_header_notice {
    background-color: #e1011c;
    padding: 5px;
    color: #f4f4f4;
    font-size: 14px;
    text-align: center;
    border-bottom: 3px solid #ba0016;
}
.widget_layered_nav ul li {
    list-style: none;
    padding: 6px 0 6px 10px;
    background-color: #fff;
}
.sc-divider.sc-divider-style-6 {
    display: none;
}
.widget-title {
    line-height: 20px !important;
    font-size: 22px !important;
    text-transform: uppercase;
    margin-top: 32px;
}
.widget_product_search h4 {
    margin-top: -20px !important;
    text-align: left;
    padding-left: 15px;
}
.widget_product_search .widget-title {
    display: none;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
    background-color: transparent;
}
.hisense-page-content-bg {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png');
    background-size: 100% 210px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 35px;
    background-position: 30% 27%;
}
.woocommerce-breadcrumb {
    display: none !important;
}
.sc-pagination a:hover,
.sc-pagination .current {
    border-color: #418f9a !important;
}
.sc-pagination a:hover,
.sc-pagination .current {
    background-color: #418f9a !important;
}
h1 + h3 {
    font-size: 24px;
    color: #949494;
    margin-top: -18px;
}
.ult_dual_button.to-right.hisense-dual-btn {
    margin-top: 5px;
}
.retailer-online-flipbox .ifb-front {
    color: rgb(51, 51, 51);
    border: 0px solid rgb(164, 164, 164);
    height: 90px !important;
    background: rgb(239, 239, 239);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 50px;
}
.retailer-online-flipbox .ifb-back {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.retailer-online-flipbox .ifb-back p {
    margin-top: -10px;
}
.flip_link a {
    color: #666666 !important;
    box-shadow: 0 5px 0 #cfcfcf;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #eaeaea !important;
    color: #666666 !important;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 16px;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-transform: uppercase;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.form-float-left {
    float: left !important;
    width: 100% !important;
}
.form-float-left-wrap {
    width: 49% !important;
    float: left !important;
}
.form-float-right-wrap {
    width: 49% !important;
    float: right !important;
}
.form-float-right {
    float: right !important;
    width: 100% !important;
}
.clear-floats {
    clear: both;
    width: 100%
}
.flip_link a:hover {
    top: 3px;
    box-shadow: 0 2px 0 #cfcfcf;
    color: #5e5e5e !important;
    background-color: #ebebeb !important;
    border: 1px solid transparent;
    text-decoration: none;
}
.products .product-info .product-categories {
    margin-bottom: 15px !important;
}
.register-product-model {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png');
    background-size: 100% 400px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 35px;
    color: #6a6a6a;
    font-size: 28px;
}
#post-10999 #text-4 {
    display: none !important;
}
.pp_pic_holder.light_square {
    width: 840px !important;
}
a.pp_close {
    left: 720px;
}
div.light_rounded .pp_top .pp_middle,
div.light_rounded .pp_content_container .pp_left,
div.light_rounded .pp_content_container .pp_right,
div.light_rounded .pp_bottom .pp_middle,
div.light_square .pp_left,
div.light_square .pp_middle,
div.light_square .pp_right,
div.light_square .pp_content,
div.facebook .pp_content {
    background: none !important;
}
.pp_content_container {
    margin-top: -20px !important;
}
.register-product-model hr {
    margin-top: 5px;
}
.register-product-model label {
    color: #6a6a6a !important;
    display: inline;
    font-size: 14px !important;
    font-family: 'roboto';
}
.register-product-model input {
    font-size: 14px;
    font-weight: 400;
    font-family: 'roboto';
}
.register-product-model select {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'roboto' !important;
}
button.btn-modal.btn-primary.btn-modal-lg.overlay-show.register-product-model-button.ult-align-center {
    background-image: url('http://hisense.mydigitalcloud.co.za/wp-content/uploads/2014/12/register-product-btn.png') !important;
    background-color: transparent !important;
    border-color: transparent !important;
    min-width: 296px;
    min-height: 92px;
    font-size: 0px;
    cursor: pointer !important;
    margin-left: -10px;
    margin-top: 28px;
}
.register-product-model .textarea-wrap {
    margin-top: -25px;
}
.register-product-model .checkbox-wrap {
    color: #6a6a6a !important;
    display: inline;
    font-size: 14px !important;
    font-family: 'roboto';
}
.register-product-model #ninja_forms_field_29_div_wrap {
    margin-bottom: 0px !important;
}
.ult-dual-button-title {
    font-size: 18px !important;
}
.products .product-bottom {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-size: 100% 65px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 18px;
    padding-bottom: 18px;
}
.sc_accordion_header a {
    color: #6a6a6a !important;
    padding-left: 20px !important;
    font-size: 16px !important;
    text-align: left;
    display: inline-block;
    width: 92%;
    text-transform: none;
}
.resp-tab-content h4 {
    text-align: left !important;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
}
.resp-tab-content .sc-divider {
    margin-bottom: 8px !important;
}
.sc-tour-style-1 .sc_tour_tabs_wrapper {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.ui-accordion-content {
    padding-top: 20px !important;
    padding-bottom: 36px !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    font-size: 16px;
    line-height: 20px;
}
.wpb_content_element img {
    height: auto;
    text-align: left;
}
.hisense-error-page .block-content {
    background-image: url("/wp-content/uploads/2015/06/404-bg.png") !important;
    background-repeat: no-repeat !important;
    min-height: 675px;
    background-size: contain !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.hisense-error-page form {
    width: 44%;
    float: right;
    margin-top: 390px;
}
.hisense-error-page .searchform button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472d2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #666666;
    background-color: #ebebeb;
    box-shadow: 0 5px 0 #cfcfcf;
}
.site-footer .twitter-box .jtwt_tweet {
    padding: 0 0 0 20px;
    margin-top: -15px;
    font-size: 15px;
    color: #969696;
}
.jtwt_tweet a:link {
    color: #4099FF !important;
}
.resp-tabs-list li {
    font-size: 18px !important;
}
.jtwt_date {
    color: #4c5867 !important;
}
.jtwt_tweet:before {
    color: #4099FF !important;
    margin-left: -33px;
    top: 4px;
}
.register-product-model h3.ult_modal-title {
    font-size: 2em !important;
    line-height: 1.5em !important;
    text-transform: uppercase !important;
    color: #0b9da0 !important;
    font-weight: bold;
}
.register-product-model .ninja-forms-required-items {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: #6a6a6a !important;
}
.register-product-model h3 {
    color: #0b9da0 !important;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 28px;
}
.flip-box-wrap .flip-box h3 {
    margin: 15px 0 12px;
    line-height: 1.3em;
    font-size: 16px;
    display: block;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2px !important;
}
.wpgmp_category_main_container {
    position: relative;
    z-index: 2 !important;
}
h1,
.title-h1 {
    font-size: 45px !important;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 49px !important;
}
a.compare.button {
    float: right;
    font-size: 16px;
}
li.menu-item.menu-item-cart {
    display: none !important;
}
a.button.product_type_simple {
    font-size: 16px;
}
.sc-iconed-title h4 {
    font-size: 22px !important;
    line-height: 26px !important;
}
.sc-icon .back-angle {
    font-size: 18px !important;
}
.sc-gallery-item-image a:before {
    background-color: transparent !important;
}
.products .product-image:hover:before {
    background-color: transparent !important;
}
.products .product-image img {
    max-width: 50%;
}
.sc-woocommerce-tabs {
    display: none !important;
}
.products .product-title {
    font-size: 18px !important;
    line-height: 22px !important;
    margin-bottom: 5px;
}
.products .product-info {
    padding: 15px 20px;
    text-align: center;
    padding-bottom: 0px;
    min-height: 103px;
}
.related-products-carousel-carousel .product-image {
    min-height: 230px !important;
}
.wpb_column > .wpb_wrapper > *:last-child {
    margin-bottom: 0;
    z-index: 1;
}
.sc-gallery .sc-gallery-thumbs-carousel-wrap .sc-gallery-item.active a {
    border: 0px solid #58ABB7 !important;
}
.sc-icon {
    position: relative;
    font-weight: normal;
    font-family: 'scalia-user-icons';
    font-size: 18px;
    width: 39px !important;
    height: 39px !important;
    border-radius: 39px;
    -moz-border-radius: 39px;
    -webkit-border-radius: 39px;
    line-height: 36px !important;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
#product-compare {
    display: none;
}
.sc-table td {
    padding: 10px !important;
}
.sc-table td {
    padding: 10px !important;
    font-size: 16px;
}
.sc-icon-with-title.sc-icon-with-title-icon-size-small {
    margin-bottom: 15px !important;
}
.sc-table {
    border: 1px solid #d2dae1;
    margin-bottom: 0px !important;
}
#primary-menu.no-responsive > li.megamenu-enable > ul > li .mega-label {
    background-color: transparent !important;
    border-top: 1px solid #d2dae1;
    padding-top: 15px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 5px;
}
.product_cat-tvs .product-image img {
    max-width: 95% !important;
    margin-top: 10px;
}
.vc_gitem-zone {
    background-position: top !important;
    background-size: contain !important;
}
.vc-gitem-zone-height-mode-auto:before {
    padding-top: 75% !important;
}
.vc_gitem-post-data-source-post_title h4 {
    font-size: 22px !important;
    line-height: 26px !important;
    text-align: left !important;
}
#primary-menu.no-responsive > li.megamenu-enable > ul > li > ul > li > a:before {
    color: #525252 !important;
    cursor: pointer;
}
#primary-menu.no-responsive > li > ul > li> ul a:hover {
    background-color: transparent !important;
    color: #545454 !important;
    cursor: pointer;
}
#primary-menu.no-responsive > li > ul ul li.menu-item-active > a {
    color: #545454 !important;
}
#primary-menu.no-responsive > li.megamenu-enable > ul > li > ul li > a {
    text-transform: uppercase;
    cursor: pointer;
}
#primary-menu.no-responsive > li > a,
.products .product-bottom .add_to_cart_button:before,
.widget_product_search #searchsubmit {
    text-transform: uppercase;
    cursor: pointer;
}
.single-product-content-bottom .hisense-content-bg {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: none;
    background-size: 100% 210px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-bottom: 0px;
}
.hisense-content-bg {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png');
    background-size: 100% 210px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 35px;
}
#primary-menu.no-responsive > li.megamenu-enable > ul {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png');
    background-size: 100% 100px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 35px !important;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.product-cat-refrigerators .product-image img {
    max-width: 90% !important;
}
#primary-menu.no-responsive > li > ul > li> ul li.menu-item-active > a {
    background-color: transparent !important;
}
.related-products h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 38px;
}
.single-product-content .product_title {
    margin-top: 0;
    margin-bottom: -15px;
    text-transform: uppercase;
    margin-top: 0px !important;
    text-align: left;
    font-size: 38px;
    line-height: 42px;
}
#primary-menu.no-responsive > li > ul:before {
    background-color: transparent !important;
}
.single-product-content .woocommerce-breadcrumb {
    text-align: center;
}
.widget-area .sc-products-image {
    display: table-cell;
    border: 1px solid #D2DAE1;
    border-right: 0px;
    padding-left: 5px !important;
    background-color: #fff !important;
}
.product_list_widget .sc-products-image img {
    height: 43px!important;
    width: 60px !important;
    margin-top: 10px;
}
.product_list_widget .sc-products-content {
    margin-left: 90px;
    min-height: 90px;
    padding-left: 10px;
    border-left: 0 none !important;
    padding-right: 5px;
    line-height: 20px;
    font-size: 15px;
    background-color: #fff !important;
}
ul.product_list_widget li {
    margin-bottom: 10px !important;
}
.hisense-related-full {
    position: relative !important;
    left: -360px !important;
    box-sizing: border-box !important;
    width: 1920px !important;
    padding-left: 360px !important;
    padding-right: 360px !important;
}
ul.products-list {
    border: 1px solid #D2DAE1;
    background-color: #fff;
    list-style-type: none;
    font-size: 15px;
    font-family: 'roboto';
    font-weight: 300;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 0px;
    padding-top: 10px;
    box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
    -moz-box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
    -webkit-box-shadow: 0 3px 0 0 rgba(98, 112, 128, 0.1);
}
.products-list li {
    border-top: 1px solid #eaeaea;
    padding: 10px 0px 10px 10px;
    border-bottom: 0px;
}
.yith-woocompare-widget ul.products-list a.remove {
    font-size: 1.2em;
    margin-top: 0em;
    margin-right: 6px;
}
a.compare.button {
    float: right;
    box-shadow: 0 4px 0 #29999e;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #31b9bf !important;
    color: #f4f4f4 !important;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
}
a:hover.compare.button {
    top: 3px;
    box-shadow: 0 2px 0 #007678;
    color: #5e5e5e;
    background-color: #eaeaea;
    text-decoration: none;
}
a.button.product_type_simple {
    float: left;
    color: #666666 !important;
    background-color: #ebebeb;
    box-shadow: 0 4px 0 #cfcfcf;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #ebebeb !important;
    color: #545454 !important;
    border: 0px solid #cfcfcf;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
}
a:hover.button.product_type_simple {
    top: 3px;
    box-shadow: 0 2px 0 #cfcfcf;
    color: #5e5e5e;
    background-color: #ebebeb;
    text-decoration: none;
}
a.clear-all {
    float: left;
    color: #666666 !important;
    box-shadow: 0 4px 0 #bd0747;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #eb0053 !important;
    color: #f4f4f4 !important;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 11px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
}
a:hover.clear-all {
    top: 3px;
    box-shadow: 0 2px 0 #bd0747;
    color: #eaeaea;
    background-color: #ebebeb;
    text-decoration: none;
}
.yith-woocompare-widget {
    padding-bottom: 55px;
}
.hisense-product-single-btn {
    width: 100%;
    font-size: 14px !important;
    font-weight: 400;
    font-family: 'roboto';
}
.rev_slider_wrapper {
    z-index: 2 !important;
}
.sub-menu {
    z-index: 1 !important;
}
.page-id-10999 #yith-woocompare-widget-2 {
    display: none !important;
}
.wpb_widgetised_column .sc-products-image {
    display: table-cell;
    border: 1px solid #D2DAE1 !important;
    border-right: 0px !important;
    padding-left: 10px !important;
}
.hisense-product-single-icon {
    font-size: 20px !important;
    height: 14px;
    line-height: 15px;
    color: #418f9a;
}

#primary-menu.no-responsive > li > a {
    padding: 35px 15px !important;
}
#primary-menu.no-responsive > li.menu-item-active > a {
    color: #057d80;
}
#primary-menu.no-responsive > li > a {
    font-size: 14px !important;
    font-weight: 400 !important;
}
.hisense-product-logo-carasol .wpb_wrapper strong {
    color: #6a6a6a;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
}
.single-product-content-right {
    float: right !important;
    width: 48% !important;
    margin-left: 2% !important;
}
.single-product-content-left {
    float: left !important;
    width: 48% !important;
    margin-right: 2% !important;
    text-align: left;
    margin: auto 0 !important;
    margin-bottom: 240px !important;
}
.single-product-content .sc-gallery .sc-gallery-item {
    text-align: left !important;
    width: 80% !important;
}
.single-product-content .sc-gallery .sc-gallery-preview-carousel-wrap .sc-gallery-item a {
    display: block;
    position: relative;
    overflow: visible !important;
    text-align: center;
    width: 42% !important;
}
#site-header .primary-navigation {
    width: 70%;
}
.hisense-page-search #yith-s::-webkit-input-placeholder::after {
    color: #969696;
    content: "\f002";
    float: right;
    font: normal normal normal 24px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 4px;
    font-weight: bold;
}
.hisense-page-search #yith-s::-webkit-input-placeholder::before {
    color: #969696;
    content: "PRODUCT\00a0SEARCH";
}
.widget_product_search input {
    padding-right: 20px !important;
}
.hisense-page-search h4 {
    display: none;
}
.hisense-page-search #yith-s::-webkit-input-placeholder {
    color: transparent;
    font-size: 22px;
}
.hisense-page-search #yith-s {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'roboto';
    text-transform: uppercase;
    background-color: #fff !important;
}
.hisense-page-search .wpb_wrapper {
    text-align: center;
}
.hisense-page-search .widget_product_search {
    background-color: transparent !important;
    margin-top: -10px !important;
    width: 43%;
    position: absolute;
    top: -65px;
    left: 28.5%;
    right: 28.5%;
}
.hisense-page-search input[type='submit'] {
    display: none;
}
.socials-sharing a {
    line-height: 26px !important;
}
.single-product-content .sc-gallery .sc-gallery-thumbs-carousel-wrap {
    padding: 0 33.3% !important;
    margin-top: -10px !important;
}
.hisense-page-search .autocomplete-suggestions {
    position: relative !important;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0px;
    border-top: 1px solid #eaeaea;
    top: -7px;
    width: 516px !important;
}
.ninja-forms-field h3 {
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px;
}
.ninja-forms-field strong {
    color: #0b9da0;
}
#sc-tabs-143396414198 .sc_wrapper {
    margin-top: 200px !important;
}
.product-content .wpb_wrapper strong span {
    color: #6a6a6a !important;
    font-size: 14px !important;
    line-height: 0px !important;
    font-family: 'roboto' !important;
    font-weight: 300 !important;
    padding: 0px !important;
}
.product-content .wpb_wrapper span em strong {
    color: #6a6a6a !important;
    font-size: 14px !important;
    line-height: 0px !important;
    font-family: 'roboto' !important;
    font-weight: 300 !important;
    padding: 0px !important;
}
.product-content .wpb_wrapper em span {
    color: #6a6a6a !important;
    font-size: 14px !important;
    line-height: 0px !important;
    font-family: 'roboto' !important;
    font-weight: 300 !important;
    padding: 0px !important;
}
.widget_product_search {
    background-color: transparent !important;
}
.widget_product_search .yith-s {
    font-size: 22px;
    font-family: 'roboto';
    padding-top: 25px;
    padding-bottom: 25px;
}
.widget_product_search form {
    padding-left: 0px;
    padding-right: 0px;
}
#yith-s::-webkit-input-placeholder::after {
    color: #969696;
    content: "\f002";
    float: right;
    font: normal normal normal 24px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 4px;
    font-weight: bold;
}
.widget_product_search {
    padding-top: 0px;
    padding-bottom: 0px;
}
.autocomplete-suggestions {
    position: relative !important;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0px;
    border-top: 1px solid #eaeaea;
    top: -7px;
    width: 270px !important;
}
.wpb_content_element .wp-image-11394 {
    width: auto !important;
}
#yith-searchsubmit {
    display: none
}
#menu-item-11358 {
    cursor: default;
}
#menu-item-11354 {
    cursor: default;
}
.hisense-extra-features {
    margin-top: -150px !important;
}
.hisense-product-logo-carasol .wpb_wrapper {
    margin-left: 10%;
    margin-right: 10%;
    line-height: 18px;
    color: #6a6a6a !important;
}
.wpb_content_element img {
    height: auto;
    text-align: left;
    width: 100%;
}
v .hisense-product-logo-carasol em strong {
    color: #6a6a6a;
    font-size: 14px !important;
    line-height: 18px !important;
}
.single-product-content-left p {
    text-align: left !important;
}
.single-product-content {
    padding-left: 0px !important;
    margin-bottom: 40px;
}
.block-divider {
    background: none !important;
}
.before-products-list.rounded-corners.clearfix {
    display: none;
}
label#ninja_forms_field_64_label {
    display: none;
}
.ninja-forms-form-wrap .list-checkbox-wrap ul label,
.ninja-forms-form-wrap .list-radio-wrap ul label {
    font-weight: 300 !important;
}
.vc_custom_heading h3 {
    line-height: 30px !important;
}
.ninja-forms-required-items {
    display: none !important;
}
.single-product .fullwidth-block > .block-divider {
    margin: 0px 0 0px !important;
}
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-active > a,
#primary-menu.no-responsive > li.megamenu-enable > ul ul li.menu-item-current > a {
    color: #545454 !important;
}
.term-mobile #page-title {
    background-image: url('/wp-content/uploads/2015/07/mobile-header.jpg') !important;
    background-repeat: no-repeat;
    height: 450px;
    border-top: 1px solid #eaeaea;
}
.term-mobile .page-title-title {
    display: none;
}
.term-mobile .page-title-icon {
    display: none;
}
.term-tvs #page-title {
    background-image: url('/wp-content/uploads/2015/07/led-header.jpg') !important;
    background-repeat: no-repeat;
    height: 450px;
    border-top: 1px solid #eaeaea;
}
.term-tvs .page-title-title {
    display: none;
}
.term-tvs .page-title-icon {
    display: none;
}
.term-tablets #page-title {
    background-image: url('/wp-content/uploads/2015/06/tablet-header.jpg') !important;
    background-repeat: no-repeat;
    height: 400px;
    border-top: 1px solid #eaeaea;
}
.term-tablets .page-title-title {
    display: none;
}
.term-tablets .page-title-icon {
    display: none;
}
.term-refrigerators #page-title {
    background-image: url('/wp-content/uploads/2015/07/fridge-header.jpg') !important;
    background-repeat: no-repeat;
    height: 450px;
    border-top: 1px solid #eaeaea;
}
.term-refrigerators .page-title-title {
    display: none;
}
.term-refrigerators .page-title-icon {
    display: none;
}
#site-header-wrapper {
    height: 93px !important;
}
.term-washing-machines #page-title {
    background-image: url('/wp-content/uploads/2015/06/washing-header.jpg') !important;
    background-repeat: no-repeat;
    height: 400px;
    border-top: 1px solid #eaeaea;
}
.term-washing-machines .page-title-title {
    display: none;
}
.term-washing-machines .page-title-icon {
    display: none;
}
.term-air-conditioning #page-title {
    background-image: url('/wp-content/uploads/2015/06/air-header.jpg') !important;
    background-repeat: no-repeat;
    height: 400px;
    border-top: 1px solid #eaeaea;
}
.term-air-conditioning .page-title-title {
    display: none;
}
.term-air-conditioning .page-title-icon {
    display: none;
}
.term-wine-coolers #page-title {
    background-image: url('/wp-content/uploads/2015/06/wine-header.jpg') !important;
    background-repeat: no-repeat;
    height: 400px;
    border-top: 1px solid #eaeaea;
}
.term-wine-coolers .page-title-title {
    display: none;
}
.term-wine-coolers .page-title-icon {
    display: none;
}
#primary-menu.no-responsive > li > ul > li> ul li.menu-item-current > a {
    background-color: transparent !important;
    color: #545454;
}
.single-product-content-right .product-meta {
    display: none;
}
.page-title-style-2 .container:after {
    background: none !important;
}
.sc-tabs .sc_tabs_nav li + li {
    margin-left: 4px;
    font-size: 18px;
}
.sc-tabs.sc-tabs-style-1 .sc_tabs_nav li.resp-tab-active {
    padding: 12px 21px 14px;
    border-bottom: 0 none;
    background-color: #33cccc;
    color: #fff;
}
.sc-tabs.sc-tabs-style-1 .sc_tabs_nav li.resp-tab-active {
    padding: 12px 15px 14px;
    border-bottom: 0 none;
    font-size: 18px;
    background-color: #00b2a7;
    color: #fff;
}
.sc-tabs-style-1 .sc_tabs_nav li {
    border: 0px !important;
}
.sc-tabs-style-1 .resp-tabs-container {
    border: 0px !important;
}
.sc-tabs-style-1 .resp-tabs-container {
    box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1);
    -moz-box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1);
    -webkit-box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1);
}
.sc-tabs .sc_tour_tabs_wrapper ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 2px;
    padding: 12px;
    position: relative;
    right: 50%;
}
.sc-tabs .sc_tour_tabs_wrapper ul {
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
.sc-tabs .sc_tour_tabs_wrapper {
    float: left;
    width: 100%;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.sc_tab h5 strong {
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.sc_tab h4 strong {
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    color: #6a6a6a !important;
}
.bb-top-title {
    font-size: 0.9em !important;
    background: #418f9a !important;
    font-family: 'roboto' !important;
    font-weight: 300 !important;
}
.block-navigation {
    clear: both;
    display: none !important;
    width: 100%;
}
.ult_dual1 {
    height: 90px !important;
    border-bottom: 4px solid #545454 !important;
    border: 1px solid rgb(255, 255, 255);
}
.ult_dual2 {
    height: 90px !important;
    border-bottom: 4px solid #545454 !important;
    border: 0px solid rgb(255, 255, 255);
}
.sc-tabs-style-1 .resp-tabs-container,
.sc-tour-style-1 .sc_tour_tabs_wrapper,
.sc-tour-style-1 .resp-tab-content {
    border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px 0px;
    -webkit-border-radius: 0 0px 0px 0px;
    padding-left: 15%;
    padding-right: 15%;
}
.sc-tabs-style-1 .resp-tabs-container {
    border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    padding-bottom: 35px;
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1) inset;
    background-image: -webkit-linear-gradient(top, #e5e5e5, white);
    background-size: 100% 35px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 55px;
    box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1) !important;
    -moz-box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1) !important;
    -webkit-box-shadow: 0 0px 0 0 rgba(98, 112, 128, 0.1) !important;
}
.sc-tabs .sc_tabs_nav li {
    margin-bottom: 0px !important;
}
.block-navigation-prev {
    float: left;
    display: none;
}
.block-navigation-next {
    float: right;
    display: none;
}
.block-content:last-child {
    padding-bottom: 110px;
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png');
    background-size: 100% 400px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 55px;
}
#colophon {
    width: 100%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4) inset;
    background-image: url('/wp-content/uploads/2015/06/content-bg1.png') !important;
    background-size: 100% 400px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 0px;
}
.social-icon {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.vc_gitem-zone {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.socials-sharing .twitter a:after {
    content: "\e603";
    color: #00aced;
}
.footer-widget-area .widget_nav_menu ul.menu li > a,
.widget_submenu > div > ul li > a {
    display: block;
    padding: 7px 7px 7px 20px;
}
#colophon .widget a:hover {
    color: #58abb7 !important;
}
#colophon span.combobox-wrapper {
    width: 84% !important;
}
ul.sub-menu {
    z-index: 1 !important;
}
#colophon .widget a {
    color: #6a6a6a !important;
}
#colophon .widget-title {
    text-transform: uppercase;
}
.footer-widget-area .textwidget {
    font-size: 16px;
    line-height: 19px;
    color: #6a6a6a;
}
.footer-widget-area .textwidget {
    font-size: 15px;
    line-height: 19px;
    color: #6a6a6a;
}
.footer-widget-area .textwidget p {
    margin-top: 15px;
}
.footer-widget-area .textwidget strong {
    font-weight: bold;
    font-family: "roboto";
}
.csbwfs-sbutton a {
    text-align: center;
    display: block;
    width: 63px !important;
    height: 67px;
}
.csbwfs-social-widget .csbwfs-sbutton {
    background: none;
    float: right;
    height: 67px;
    margin: 1px;
    padding: 15px;
    position: relative;
    width: 63px;
}
.csbwfs-sbutton img {
    padding: 5px;
    padding-left: 15px;
}
.social-text {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0 11px 44px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: "Roboto";
}
#facebook-btn span {
    background-position: 12px 6px;
}
.csbwfs-hide {
    display: none !important;
}
#csbwfs-fb a {
    background: none repeat scroll 0 0 transparent !important;
}
.twitter a {
    border: 2px solid #00aced !important;
}
.twitter a:hover {
    background-color: #00aced !important;
}
.socials-sharing .facebook a:after {
    content: "\e601";
    color: #3b5998;
}
#footer-nav,
#colophon .sc-custom-mailchimp input[type="email"] {
    display: none;
}
.facebook a {
    border: 2px solid #3b5998 !important;
}
.facebook a:hover {
    background-color: #3b5998 !important;
}
.socials-sharing .googleplus a:after {
    content: "\e602";
    color: #dd4b39;
}
.googleplus a {
    border: 2px solid #dd4b39 !important;
}
.googleplus a:hover {
    background-color: #dd4b39 !important;
}
.socials-sharing .linkedin a:after {
    content: "\e604";
    color: #007bb6;
}
.linkedin a {
    border: 2px solid #007bb6 !important;
}
.linkedin a:hover {
    background-color: #007bb6 !important;
}
.socials-sharing .stumbleupon a:after {
    content: "\e606";
    color: #cb2027;
}
.stumbleupon a {
    border: 2px solid #cb2027 !important;
}
.stumbleupon a:hover {
    background-color: #cb2027 !important;
}
.sc-gallery .sc-gallery-thumbs-carousel-wrap .sc-gallery-item a img {
    opacity: 0.3;
    width: auto !important;
    height: 80px;
}
.sc_accordion_header {
    cursor: pointer;
    text-align: center;
}
.sc_accordion_header .ui-accordion-header-icon {
    left: 0 !important;
    width: 8% !important;
    margin-top: -11px;
    display: inline-block !important;
    text-align: left !important;
    font-size: 20px !important;
    right: 0 !important;
    float: left;
}
.vc_btn3-container.vc_btn3-center {
    text-align: center;
    margin-right: 15px;
    margin-left: 5px;
}
.vc_btn3.vc_btn3-color-juicy-pink,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #666666 !important;
    box-shadow: 0 5px 0 #cfcfcf;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: #eaeaea !important;
    color: #666666 !important;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}
.vc_btn3.vc_btn3-color-juicy-pink:hover,
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover {
    top: 3px;
    box-shadow: 0 2px 0 #cfcfcf;
    color: #5e5e5e !important;
    background-color: #ebebeb !important;
    border: 1px solid transparent;
    text-decoration: none;
}
.products .product-image {
    display: block;
    text-align: center;
    margin: 5% 5% 0 !important;
    position: relative;
    width: 90% !important;
}
a.compare.button {
    float: right;
}

.ms-video-btn {
    background: none !important;
}

#primary-menu.no-responsive > li > a {
    font-weight: 300;
}

#primary-menu.no-responsive > li > a {
    font-size: 17px;
}

#primary-menu.no-responsive > li > a {
    line-height: 20px;
}

.specLabel {
    color: #33cccc;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
    padding: 15px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    overflow: visible;
}

td {
    border-right: 1px solid #eaeaea;
    padding: 15px;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: visible !important;
    box-sizing: border-box;
    border-left: 0px solid #eaeaea;
    border-right: 0px solid #eaeaea;
}
th {
    color: #418f9a;
    line-height: 41px;
    font-size: 29px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    border: 0px;
    text-align: left;
    background-color: #fff;
    border-collapse: collapse;
    padding-top: 25px;
    padding-bottom: 25px;
}
tr.specCategory.specCat {
    border: 0px;
}
tr.specCategory.specCat:before {
    border: 0px;
}
#primary-menu.no-responsive > li.megamenu-enable > ul li,
#primary-menu.no-responsive > li li > a,
.portfolio-filters-resp ul li a,
.widget_nav_menu ul.menu,
.widget_submenu > div > ul,
.widget_categories > ul,
.widget_product_categories > ul,
.widget_pages > ul {
    font-size: 17px;
}
.primary-navigation.responsive li a {
    font-size: 17px;
}
tr {
    background-color: #fff !important;
    border: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

.blog article .entry-title {
    font-family: 'Source Sans Pro';
}
.blog article .entry-title {
    font-weight: 300;
}
.blog article .entry-title {
    font-size: 40px;
}
.blog-style-default article.sticky .entry-title {
    font-size: 65px;
}
@media (max-width: 768px) {
    .blog-style-default article.sticky .entry-title {
        font-size: 40px;
    }
}
.blog article .entry-title {
    line-height: 42px;
}
.blog-style-default article.sticky .entry-title {
    line-height: 68.25px;
}
@media (max-width: 768px) {
    .blog-style-default article.sticky .entry-title {
        line-height: 42px;
    }
}

.resp-tabs-list li {
    font-family: 'Roboto Condensed';
}
h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
    font-family: 'Roboto Condensed';
}
h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
    font-weight: 300;
}
h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {
    font-size: 24px;
}
h5,
.sc-table thead th,
.sc-table-responsive .tabletolist.rh > li > .titles,
.title-h5,
.shop_table td.product-price,
.shop_table td.product-subtotal,
.cart_totals table .cart-subtotal td,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-subtotal,
.woocommerce table.shop_table.order-details thead tr th.product-name,
.woocommerce table.shop_table.order-details thead tr th.product-total,
.resp-tabs-list li {

​
    line-height: 34px;
}

body,
option,
.portfolio.columns-1 .portfolio-item .caption .subtitle,
.gallery-item .overlay .subtitle,
.cart_totals table .shipping td label,
.woocommerce-cart-form.responsive .cart-item .sc-table .shop_table td.product-price {
    font-family: 'roboto';
    font-weight: 300;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #6a6a6a !important;
}

.widget-title {
    line-height: 40px;
}

.sc-button,
widget a.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
    font-size: 22px;
}

.sc-button,
input[type='submit'],
.blog-load-more button,
.price_slider_amount .button {
    line-height: 34px;
}

.sc-table-style-2 .tabletolist .row_headers,
.pricing-table-style-2 .pricing-row,
.widget_nav_menu ul.menu > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > a,
.widget_nav_menu ul.menu > li > ul > li > ul > li > ul > li> ul > li > a,
.widget_submenu > div > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > a,
.widget_submenu > div > ul > li > ul > li > ul > li > ul > li> ul > li > a,
#colophon .widget_nav_menu ul.menu > li > ul,
#colophon .widget_submenu > div > ul > li > ul {
    border-right: 1px solid #D2DAE1;
}

body.home .slideshow-preloader {
    height: 600px;
}
@media (max-width: 1259px) {
    body.home .slideshow-preloader {
        height: 480px;
    }
}
@media (max-width: 979px) {
    body.home .slideshow-preloader {
        height: 360px;
    }
    body.home .sc-slideshow .sc-button {
        display: none !important;
    }
}
@media (max-width: 767px) {
    body.home .slideshow-preloader {
        height: 220px;
    }
}
@media (max-width: 480px) {
    body.home .slideshow-preloader {
        height: 140px;
    }
}
#Slide1_Scale {
    -o-animation: slide 16s infinite linear;
    -moz-animation: slide 16s infinite linear;
    -webkit-animation: slide 16s infinite linear;
    animation: slide 16s infinite linear;
}
@keyframes slide {
    0% {
        transform: rotate(0deg) scale(1);
        top: 0px;
        left: 0px;
    }
    100% {
        transform: rotate(0deg) scale(1);
        top: 0px;
        left: -502px;
    }
}
@-o-keyframes slide {
    0% {
        -o-transform: rotate(0deg) scale(1);
        top: 0px;
        left: 0px;
    }
    100% {
        -o-transform: rotate(0deg) scale(1);
        top: 0px;
        left: -502px;
    }
}
@-moz-keyframes slide {
    0% {
        -moz-transform: rotate(0deg) scale(1);
        top: 0px;
        left: 0px;
    }
    100% {
        -moz-transform: rotate(0deg) scale(1);
        top: 0px;
        left: -502px;
    }
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
        top: 0px;
        left: 0px;
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
        top: 0px;
        left: -502px;
    }
}
#Slide1_GlassNeon {
    -o-animation: glass_neon 1.5s infinite linear;
    -moz-animation: glass_neon 1.5s infinite linear;
    -webkit-animation: glass_neon 1.5s infinite linear;
    animation: glass_neon 1.5s infinite linear;
}
@keyframes glass_neon {
    0% {
        opacity: 0.2;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.2;
    }
    31% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    71% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes glass_neon {
    0% {
        opacity: 0.2;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.2;
    }
    31% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    71% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes glass_neon {
    0% {
        opacity: 0.2;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.2;
    }
    31% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    71% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes glass_neon {
    0% {
        opacity: 0.2;
    }
    15% {
        opacity: 1;
    }
    25% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.2;
    }
    31% {
        opacity: 0.9;
    }
    50% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.3;
    }
    65% {
        opacity: 1;
    }
    70% {
        opacity: 0.2;
    }
    71% {
        opacity: 0.6;
    }
    85% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}